/* Custom CSS for Sintesis Viva */
.active-tab {
  background-color: rgb(16 185 129 / 0.15) !important;
  color: rgb(52 211 153) !important;
  border: 1px solid rgb(16 185 129 / 0.4) !important;
}

/* Custom Scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #090d16;
}
::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #334155;
}
